name: Windows x86_64

on:
  push:
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - '**.txt'
      - '**.md'
      - '**.rc'
  pull_request:
    branches:
      - 'master'
      - 'main'
      - 'dev'

jobs:
  windows-x86_64:
    runs-on: windows-latest
    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: CMake
      run: cmake -G "Visual Studio 17 2022" .\

    - name: MSBuild
      run: msbuild SphereServer.sln /verbosity:minimal /maxcpucount /p:Configuration=Nightly

    - name: Create package
      run: |
        pwd
        mkdir accounts logs save scripts
        7z a SphereSvrX-win-x86_64-nightly.zip accounts\ logs\ save\ scripts\ .\bin-x86_64\Nightly\SphereSvrX64_nightly.exe .\src\sphere.ini .\src\sphereCrypt.ini .\lib\_bin\x86_64\mariadb\libmariadb.dll

    - name: Upload artifact
      if: contains(fromJson('["master", "main", "dev"]'), github.ref_name) || ${{ github.event_name == 'pull_request' }}
      uses: actions/upload-artifact@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: Build-win-x86_64
        path: SphereSvrX-win-x86_64-nightly.zip
        overwrite: true

  upload_github_release:
    needs: windows-x86_64
    if: contains(fromJson('["master", "main"]'), github.ref_name)
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Étape ajoutée : recréer le tag Nightly sur le dernier commit
      - name: Update Nightly tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -f Nightly
          git push origin Nightly --force

      - name: Download builds
        uses: actions/download-artifact@v5
        with:
          name: Build-win-x86_64
          merge-multiple: true
          run-id: ${{ github.run_id }}

      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Nightly
          tag_name: Nightly
          prerelease: true
          files: SphereSvrX-win-x86_64-nightly.zip
